main{
    background-color: rgba(0, 0, 0, 0.1); 
}
header{
    color: rgb(207, 177, 177);
}
body {
  /* Путь к вашему изображению */
  background-image: url('aynkrad-mastera-mecha-onlayn.webp');

  /* Растянуть на весь экран */
  background-size: cover;

  /* Не повторять картинку */
  background-repeat: no-repeat;

  /* Центрировать */
  background-position: center;

  /* Закрепить фон, чтобы он не прокручивался */
  background-attachment: fixed;}